.mainImg{
    display: inline block;
    float: left;
    width: 20%;
    margin-top: 3.5rem;
    margin-left: 26rem;
}

@media only screen and (max-width:1024px ) {

    .mainImg{
        width: 25rem;
        display: block;
        float: initial;
        margin: 5rem auto auto auto;
    }
    
}